*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    
}

body > header {
    background-color: rgb(253, 153, 3);
    padding: 20px 0;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: black;
}

body section {
    background-color:  rgb(153, 12, 235);
}

.container {
    width: 1366;
    margin: 0 auto 0 auto;
    
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 200px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2
.articles article {
    margin-bottom: 16px ;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a {
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}



h1 {
    color: rgb(79, 84, 136);
}

h2 {
    color: rgb(79, 84, 136);
    background-color: rgb(253, 153, 3);
}

#economy h2 {
    color: rgb(79, 84, 136);
    background-color: rgb(253, 153, 3);
}

#esportes h2{
    color:rgb(79, 84, 136);
    background-color: rgb(253, 153, 3);
    }

#agricola h2 {
    color: rgb(79, 84, 136);
    background-color: rgb(253, 153, 3);
}

#eleicao h2 {
    color: ;
    background-color: rgb(253, 153, 3);
}

* { 
    color: rgb(7, 6, 6);
}
